[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
boto3 = "*"
pytube = {editable = true, ref = "master", git = "https://github.com/DEADF00D/pytube.git"}

[dev-packages]

[requires]
python_version = "3.8"
